<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='anotherstyle.css') }}">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, incidunt quis explicabo quae debitis atque illo, autem mollitia natus quo, assumenda architecto hic iure ipsam placeat sunt. Provident, excepturi mollitia?
</body>
</html>