<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class XII - Buffalo School</title>
</head>
<body>
    <ul>
        <li>Marks of John is {{marks['John']}}</li>
        <li>Marks of Jane is {{marks['Jane']}}</li>
        <li>Marks of Doe is {{marks['Doe']}}</li>
        <li>Marks of Alice is {{marks['Alice']}}</li>
        <li>Marks of Bob is {{marks['Bob']}}</li>
        <li>Marks of Lilly is {{marks['Lilly']}}</li>
    </ul>
</body>
</html>